@import url('./utility.css');
@import url('https://fonts.googleapis.com/css?family=Roboto|Noto+Serif+JP&display=swap');

:root {
  --primary-color: #3f51b5;
  --primary-darker-color: hsl(231, 48%, 44%);
  --primary-dark-color: #002984;
  --grey-color-1: #e8e8e8;
  --grey-color-2: #d8d8d8;
  --grey-color-3: #aaa;
  --dark-color: #353535;
  --very-dark-color: #1c1c1c;
}

body {
  margin: 0;
  font-family: Roboto, serif;
  background-color: var(--very-dark-color);
}

p {
  margin: 0;
}

h1 {
  text-align: center;
}

h2 {
  margin: 30px 0 15px 0;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--grey-color-3);
}

h3 {
  margin: 10px 0 5px 0;
}

ul {
  padding-left: 15px;
  list-style-type: none;
}

li::before {
  content: "—";
  margin-right: 10px;
}

.inline-container {
  display: inline-block;
}

.main-container {
  max-width: 800px;
  margin: 25px auto;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  background-color: var(--primary-color);
  box-shadow: 0 0 6px 3px var(--dark-color);
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.frazione {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: 10px 0;
}

.frazione .separatore {
  width: 100%;
  border-bottom: 1px solid black;
}

.frazione .numeratore {
  display: flex;
  flex-direction: column;
}

.frazione .numeratore::after {
  content: "";
  margin-top: 3px;
  border-top: 1px solid black;
}

.frazione .denominatore {
  margin-top: 3px;
}

.limite-container {
  display: flex;
  width: fit-content;
}

.limite {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
}

.limite::before {
  content: "lim"
}

.limite-tendenza {
  font-size: 12px;
}

.torna-in-cima:visited,
.torna-in-cima:link {
  color: var(--grey-color-1);
}

.torna-in-cima:hover {
  color: var(--grey-color-2);
}


.main-header {
  position: relative;
  font-family: "Noto Serif JP", serif;
  text-align: center;
  border-top-right-radius: 200px;
  border-top-left-radius: 200px;
  color: var(--grey-color-2);
  background-color: var(--primary-color);
  padding: 20px 10px;
}

.main-section {
  padding: 20px 30px;
  background-color: var(--grey-color-2);
  min-height: 400px;
}

.main-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  color: var(--grey-color-2);
}

.back {
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(100%, 100%);
  padding: 0 5px;
  border-radius: 4px;
  font-size: 32px;
  transition: background-color 200ms ease-in-out;
}

.back,
.back:visited {
  color: var(--grey-color-2);
}

.back:hover {
  background-color: var(--primary-darker-color);
}

a:link,
a:visited {
  color: var(--primary-dark-color);
}

a:hover {
  color: blue;
}
